body{
background-color: #1E202B;
}


.navbar .container .nav-items ul li a:hover , .navbar .container .nav-items ul li a:active {
    border-color: #009AD8 !important;
    color: #009AD8 !important;

} 

nav .container img{
    width: 60px;
    height: 40px;

}


main { 
    background-image: url();
}