:root{
    --dark-blue : #1E202B ;
    --darkly-blue : #2D303D ;
    --black-blue: #323544 ; 
    --dark-baby-blue : #009AD8; 
    --blacky-blue : #262936 ;

}

body{
background-color: var(--dark-blue);
}


.navbar .container .nav-items ul li a:hover , .navbar .container .nav-items ul li a:active {
    border-color: var(--dark-baby-blue) !important;
    color: var(--dark-baby-blue)!important;

} 

nav .container img{
    width: 60px;
    height: 40px;

}


main { 
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
}

 .seacrh input{
    background-color: var(--dark-blue);
    position: relative;
    
    
}

 .seacrh input:focus{
    background-color:var(--dark-blue) ;

}
 .seacrh button{
left: 68%;
}



main .display .row div .item  .card .card-header{
    background-color: var(--darkly-blue);
    color: white;


}
main .display .row div .item  .card {
    background-color: var(--black-blue);
    color: white;
    height: 400px;

}



.form-control::placeholder{
    color: gray;
}


footer{
    background-color: var(--black-blue);
}

footer .icons .icon {
    background-color: var(--blacky-blue);
    
}
footer .icons .icon:hover {
    background-color: var(--dark-baby-blue);
    
}
footer .icons .icon:hover  i{
    color: white !important;
    
}


.main .inputs div input , .main .inputs div textarea{
    background-color: var(--blacky-blue);
 

}



@media (min-width: 768px) {


}